.home {
  background-image: url(../src/Images/twitterBackground.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search {
  background-image: url(../src/Images/laptopTwitterBg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.random {
  background-image: url(../src/Images/tweetTweet.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.transboxBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox p {
  font-weight: bold;
  color: #000000;
}
